*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.hero{
    background-color: #1F2937;
}

    .header{
        display: flex;
        padding: 18px;
        align-items: center;
    }

        .logo{
            font-size: 24px;
            color: #F9FAF8;
            display: flex;
            width: 50%;
            padding-left: 200px;
        }
        .h-right{
            display: flex;
            width: 50%;
            justify-content: flex-end;
            padding-right: 200px;
        }
            .hlst{
                font-size: 18px;
                color: #E5E7EB;
                display: flex;
                gap: 18px;
                list-style: none;
            }

.mod-one{
    display: flex;
    padding: 18px;
    padding-top: 110px;
    padding-bottom: 125px;
}

    .l-mod-one{
        display: flex;
        width: 50%;
        flex-direction: column;
        padding-left: 200px;
        max-width: 400px;
        gap: 6px;
    }
        .text-one{
            font-size: 48px;
            color: #F9FAF8;
            font-weight: 900;
        }
        .text-two{
            font-size: 18px;
            color: #E5E7EB;
        }
        .gomb{
            width: 110px;
            height: 30px;
            border-radius: 10px;
            background-color: #3882F6;
            color: white;
            border: none;
        }
    .r-mod-one{
        display: flex;
        width: 50%;
        justify-content: flex-end;
        padding-right: 200px;
    }

.mod-two{
    display: flex;
    flex-direction: column;
    gap: 12px;
}